.stylingDiv {
    width: 50vh;
    height: 50vh;
    margin: 5vh auto;
    border-radius: 1em;
    background-color: papayawhip;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 40px;
}

.styled-button {
    display: block;
    margin-top: auto;
}

@media (max-width: 400px) {
    .stylingDiv {
        width: 40vh;
    }
}

