.text_shadow {
    font-size: 25px;
    text-shadow: 0 0 20px #00fffb, 0 0 40px #00fffb;
}

.colorful_text {
    font-size: 25px;
    background: linear-gradient(90deg, #00ffff, #ff00c3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}