.header {
    display: flex;
    justify-content: space-between;
}

.header-title-div {
    text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
    color: white;
    margin-left: 40%;
    font-size: clamp(10px, 1vw, 32px);
}

.header-nav {
    display: flex;
    flex-direction: row;
}

@media (max-width: 520px) {
    .header-title-div {
    }
    .header-nav {
        right: 5%;
    }
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.header-button img {
    width: 20px;
    height: 20px;
}

.header-button:hover img {
    filter: invert(100%);
}
