.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title-div {
    text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
    color: white;
    margin-left: 43%;
}

@media (max-width: 890px) {
    .header-title-div {
        font-size: 0.8rem;
    }}

@media (max-width: 650px) {
    .header-title-div {
        font-size: 0.6rem;
    }}

@media (max-width: 520px) {
    .header-title-div {
        font-size: 0.5rem;
    }}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.header-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.header-button:hover img {
    filter: invert(100%);
}
