.sidebar {
    display: flex;
    flex-direction: column; /* Change to column layout */
    gap: 10px;
}

.sidebar h2 {
    margin: 0;
    align-self: flex-start;
}

/* Navigation Buttons */
.sidebar-nav {
    display: flex;
    gap: 10px;
}

.sidebar-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.sidebar-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Preferences Section */
.sidebar-preferences {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-checkbox {
    display: flex;
    align-items: center;
}