.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.sidebar h2 {
    margin: 0;
    text-align: center;
}

.sidebar-preferences {

}

.checkbox-container {
    border: 2px solid #000000;
    padding: 10px;
    width: 100%;
}

.checkbox-container h2 {
}