.sidebar h2 {
    margin: 0;
    text-align: center;
}

.sidebar-preferences {
    border: 2px solid #000000;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
}

.checkbox-container h2 {
}